/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/* import colors */
:root {
    /* primary */
    --light-red: hsl(0, 100%, 67%);
    --red-back: hsla(0, 100%, 67%, 0.087);
    --orangey-yellow: hsl(39, 100%, 56%);
    --orange-back:hsla(39, 100%, 56%, 0.087);
    --green-teal: hsl(166, 100%, 37%);
    --green-back:hsla(166, 100%, 37%, 0.087);
    --cobalt-blue: hsl(234, 85%, 45%);
    --cobalt-back: hsla(234, 85%, 45%, 0.087);


    /* gradients */
    --light-slate-blue : hsl(252, 100%, 67%);
    --light-royal-blue : hsl(241, 81%, 54%);
    --violet-blue : hsla(256, 72%, 46%, 1);
    --persian-blue : hsla(241, 72%, 46%, 0);



    /* neutral */

    --white : hsl(0, 0%, 100%);
    --pale-blue : hsl(221, 100%, 96%);
    --light-lavender : hsl(241, 100%, 89%);
    --dark-gray-blue : hsl(224, 30%, 27%);
    /* --light-grey: hsla(225, 2%, 38%, 0.487); */

}
/* reset margin and padding */

/* * {
    margin: 0;
    padding: 0;
} */


body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pale-blue);

}

.container {
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 650px;
    height: 500px;
    box-shadow: 12px 12px 10px var(--pale-blue);
    background-color: var(--white);
}

.left {
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    border-radius: 30px;
    text-align: center;
}

.left .title {
    color: var(--light-lavender);
}

.numerator {
    color: var(--white);
}

p {
    font-size: 18px;
}

.denominator {
    color: var(--light-lavender);
}

.details {

}

.score {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    background: linear-gradient(var(--violet-blue), var(--persian-blue));
    margin: auto;
}

.right {
    background-color: var(--white);
}

.meas-container {
    display: flex;
    flex-direction: column;
}

.measure {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 15px;
}

.left-meas {
    display: flex;
}

.meas-reac {
    background-color: var(--red-back);
}

.meas-mem {
    background-color: var(--orange-back);
}

.meas-verb {
    background-color: var(--green-back);
}

.meas-vis {
    background-color: var(--cobalt-back);
}

.reaction p{
    color: var(--light-red);
}


.cont {
    margin: auto;
    width: 80%;
    padding: 20px;
    border-radius: 40px;
    background-color: var(--dark-gray-blue);
    color: var(--white);
}